* {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

head {
}


h1 {
	color:Black;
	text-align: center;
}


img {
	width:228px; /*was 228 each, trying changing to 128*/
	height:228px;
	/*padding:20px;*/
}

button {
    background-color: #ffe4e1; 
    border: none;
    /*color: black;*/
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:auto;
}
button:hover {
	background-color:white;
	color: black;
	border:3px solid #ffe4e1;
}

div.interests{
	width: 600px;
	margin: auto;
	background-color: #ffe4e1;
	padding:10px;
}

div.intro {
	width:500px;
	margin: auto;
}


div.start{
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

ul {
	list-style: none;
}